.DS_Store
code/report_generator/semantic_segmentation_methods.aux
code/report_generator/semantic_segmentation_methods.log
code/report_generator/semantic_segmentation_methods.out
code/report_generator/semantic_segmentation_methods.tex
code/report_generator/semantic_segmentation_methods.toc
code/report_generator/semantic_segmentation_methods_plots

